.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.screenCurrent{
    font-size:20px;
}

.screen{
    text-align: right;
    padding: 20px;
    border:1px solid black;
    border-radius: 5px;
}

.calculator{
    width: 400px;
    padding: 30px;
    background-color: gray;
    border-radius: 10px;
}

.btn{
    padding: 30px;
    font-size: 20px;
    border: none;
    background-color: blueviolet;
    color: white;
}

.btn:hover{
    background-color: aqua;
}


.buttonsGrid{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px
}

.largeButton{
    grid-column: span 2;
}