.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen{
    grid-column: 1 / -1;
    background-color:white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.screen .previousScreen{
    color: gray;
    font-size: 1 rem;
    padding-top: 5px;
}

.screen .currentScreen{
    color: gray;
    font-size: 2rem;
    padding-top: 20px;
}

.calculator{
    width: 400px;
    padding: 30px;
    background-color: gray;
    border-radius: 10px;
}

.btn{
    padding: 30px;
    font-size: 20px;
    border: none;
    background-color: blueviolet;
    color: white;
}

.btn:hover{
    background-color: aqua;
}


.buttonsGrid{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px
}

.largeButton{
    grid-column: span 2;
}

.isDepressed{
    background-color: brown;
}

.decimalPressed{
    opacity: 0.5;
    background-color: #AAAFB4;
}